#table {
  height: 80vh; /* 设置表格的高度为屏幕高度的100% */
  /* 可以添加其他样式属性，例如滚动条、背景色等 */
  overflow-y: auto; /* 如果表格内容过多，添加垂直滚动条 */
}
.mail-content {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
  overflow: hidden; /* 控制内容溢出时的显示方式 */
  max-height: 1200px; /* 设置最大高度，根据需要调整 */
}
.mail-content img {
  max-width: 100%; /* 图片最大宽度为父容器的100% */
  height: auto; /* 图片高度自适应，以保持宽高比 */
}
