server:
  port: 10010 # 网关端口
spring:
  application:
    name: gateway # 服务名称
  cloud:
    nacos:
      server-addr: 192.168.193.40:8848 # nacos地址
    gateway:
      routes: # 网关路由配置
        - id: job-server # 路由id 随便只要唯一就行
          uri: lb://job-server # 服务地址
          predicates: # 路由断言，也就是判断请求是否符合路由规则的条件
            - Path=/jobs/** # 这个是按照路径匹配，只要以/jobs开头就符合要求
            - # /jobs 只匹配 /jobs,/jobs/* 只匹配/jobs和下一级子目录目录，/jobs/a 匹配 /jobs/a/b 不匹配
        - id: zymail-server
          uri: lb://zymail-server
          predicates:
            - Path=/**
